# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Introduce Jupyter Notebook
- Introduce some common syntax in Jupyter Notebook
- Show how to work with markdown
- Show how to write and run code in a cell
- Summary knowledge of syntax

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. tidyverse
2. randomForest
3. caret

| Data Science Tools |
| ------------------ |
| RStudio |
| Visual Studio Code |
| Jupyter Notebook |
| Docker |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author